{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        <img src="/uploads/{{ product.illustartion }}" alt="{{ product.name }}" class="img-fluid">
    </div>
    <div class="col-md-7">
        <h3>{{ product.name }}</h3>
        <p>{{ product.subtitle }}</p>
        <span class="product-page-price" style="font-size: 20px; font-weight: bold;">{{ (product.prix / 100) | number_format(2) }} €</span>
        <hr>
        <p>{{ product.description }}</p>
        <hr>
        <a href="" class="btn btn-primary">Ajouter au panier</a>
    </div>    
</div>
<br><br><br>

{% endblock %}
